body{
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    min-height: 100vh;
    margin: 0;
}

body, textarea{
    font-family: 'Poppins', sans-serif;
    color:#F9F9F9;
}

