.principal{
    display: flex;
    justify-content: space-between;
}
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;      
}

.logo{
    width: 10rem;
}

.social > a{
    display: flex;
    gap: 2rem;
}

span img:hover{
    width: 2rem;
}

aside{
    padding: 12.5rem 6.25rem;

    strong{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    h1{
        font-size: 4.25rem;
        width: 25rem;
        line-height: 4.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    p{
        width: 25rem;
        margin-bottom: 3rem;
    }

}

.botoes{
    display: flex;

    .botao-agora{
        background-color: #658E76;
        border: none;
        color: #F9F9F9;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin: 1.25rem 0.6rem;
        cursor: pointer;
    }

    button img{
        padding-right: 0.5rem;
    }

    .botao-trailer{
        background: none;
        border: 0.12rem solid #658E76;
        color: #F9F9F9;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 1rem;
        margin: 1.25rem 0.6rem;
        cursor: pointer;
        
    }
    .botao-trailer:hover{
        background-color: #658E76;
        box-shadow: 0 0 0.625rem #658E76, 0 0 2.5rem #658E76, 0 0 5rem #658E76;
    }
    
    .botao-agora:hover{
        box-shadow: 0 0 0.625rem #658E76, 0 0 2.5rem #658E76, 0 0 5rem #658E76;
    }
}

    .ilustracao{  
        width: 500px;
        align-self: center;
        animation-name: ilustracao;
        animation-duration: 4s;
        animation-iteration-count: infinite;  
    }


@keyframes ilustracao {
    from {
        margin-top: 0%;          
      }
    
      to {
        margin-bottom: 10%;         
      }        
}