#page-home{

    .logo{
        position: absolute;
        left: 90px;
        top: 41px;
     
    }
    .social{
        position: absolute;
        display: flex;
        grid-gap: 2.5rem;
        gap: 2.5rem;
        left: 1178px;
        top: 52px;
    }

    main{
        
        padding: 200px 90px;
    
    strong{
        font-size: 24px;
        line-height: 32px;
    }
    
    h1{
        font-size: 68px;
        width: 400px;
        line-height: 74px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p{
        width: 400px;
    }
   
}

    .chihiro{
        position: absolute;
        display: flex;
        grid-gap: 2.5rem;
        gap: 2.5rem;
        left: 1178px;
        top: 52px;
    }
 }