.principal{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.logo{
    width: 10rem;
    margin-top: 6rem;
    margin-left: 8rem;
}

.social > a{
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
    margin-right: 6rem;
}

span img:hover{
    width: 2rem;
}

aside{
    padding: 8rem 8rem;

    strong{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    h1{
        font-size: 4.25rem;
        width: 25rem;
        line-height: 4.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    p{
        width: 25rem;
        margin-bottom: 3rem;
    }

}

.botoes{
    display: flex;

    .botao-agora{
        background-color: #658E76;
        border: none;
        color: #F9F9F9;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin: 1.25rem 0.6rem;
        cursor: pointer;
    }

    button img{
        padding-right: 0.5rem;
    }

    .botao-trailer{
        background: none;
        border: 0.12rem solid #658E76;
        color: #F9F9F9;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 1rem;
        margin: 1.25rem 0.6rem;
        cursor: pointer;
        
    }
    .botao-trailer:hover{
        background-color: #658E76;
        box-shadow: 0 0 0.625rem #658E76, 0 0 2.5rem #658E76, 0 0 5rem #658E76;
    }
    
    .botao-agora:hover{
        box-shadow: 0 0 0.625rem #658E76, 0 0 2.5rem #658E76, 0 0 5rem #658E76;
    }
}

    .ilustracao{  
        width: 50%;
        align-self: center;
        animation-name: ilustracao;
        animation-duration: 4s;
        animation-iteration-count: infinite;  
    }


@keyframes ilustracao {
    from {
        margin-top: 0%;          
      }
    
      to {
        margin-bottom: 10%;         
      }        
}

@media (max-width: 1024px){
    .botoes{
        .botao-trailer{
            display: none;
        }
    }
    .principal{
        display: flex;
        flex-direction: column-reverse;
        .ilustracao{
            animation: none;
        }
    }
    aside{
        padding: 0.6rem;
        font-size: 0.8rem;
        > h1{
            font-size: 3.43rem;
        }
        > strong{
            font-size: 1.12rem;
        }
    }

    .cabecalho{
        display: flex;
        flex-wrap: nowrap;
        column-gap: 3.12rem;
        align-items: center;
    }
    .logo{
        display: flex;
        width: 10rem;
        margin-top: 0.6rem;
        margin-left: 0.6rem;    
    }
    
    .social > a{
        display: flex;
        gap: 2rem;
        margin: 0.87rem 0rem 0rem 0rem; 
    }
}

