#page-home{
    display: flex;
    align-items: stretch;
    height: 100vh;

    .logo{
        position: absolute;
        left: 90px;
        top: 41px;
     
    }
    .social{
        position: absolute;
        display: flex;
        gap: 24px;
        right: 110px;
        top: 41px;
        
        button{
            background: none;
            border: none;
            cursor: pointer;
        }
        button:hover{
            border: 2px solid #658E76;
        }
    }

    main{
        
        padding: 200px 100px;
    
    strong{
        font-size: 24px;
        line-height: 32px;
    }
    
    h1{
        font-size: 68px;
        width: 400px;
        line-height: 74px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p{
        width: 400px;
        margin-bottom: 50px;
    }
   
}

.botoes{

    display: flex;
    transition-duration: 0.4s;

    .botao-agora{
        background-color: #658E76;
        border: none;
        color: #F9F9F9;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        margin: 20px 10px;
        cursor: pointer;
        
    }

    button img{
        padding-right: 0.5rem;
    }
    .botao-trailer{
        background: none;
        border: 2px solid #658E76;
        color: #F9F9F9;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        margin: 20px 10px;
        cursor: pointer;
        
    }
    .botao-trailer:hover{
        background-color: #658E76;
      }
    
    .botao-agora:hover{
        background: none;
        border: 2px solid #658E76;
      }
    }
    .content-ilustra{
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        align-self: center;
        animation-name: chihiro;
        animation-duration: 5s;
        animation-iteration-count: infinite;

    }
    @keyframes chihiro {
        from {
            margin-top: 0%;
            width: 300%
          }
        
          to {
            margin-bottom: 20%;
            width: 100%;
          }
    }
}